@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply capitalize bg-color-secondary px-9 py-2 rounded-lg font-bold hover:opacity-80 ease-in duration-200;
}

.title {
  @apply text-3xl md:text-4xl font-bold leading-snug lg:leading-normal;
}

.card {
  perspective: 1000px;
}

.front,
.back {
  backface-visibility: hidden;
  transition: all 0.4s ease;
}

.front {
  overflow: hidden;
}

.card_btn {
  @apply w-full px-9 py-3 bg-color-primary-dark rounded-md capitalize font-bold hover:bg-color-secondary ease-in duration-200;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
